.container{
    display:flex;
    justify-content:center;
    margin:5px;
    border:2px solid black;
    height:300px;
    width:100px;
}


.ball{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color:black;
    margin:3px;
    animation:bounceBall 2s linear infinite;
}
@keyframes bounceBall {
    from 0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(250px);
    }
    
    
}