
.flex-item{
    width:200px;
    height:150px;
    margin:10px;
    margin-top:10px;
    background-color: chocolate;
    color:white;
    font-size:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.flex-container{
    display:flex;
    /* flex-direction:row; */
    /* flex-direction:row-reverse; */
    /* flex-direction:column; */
    /* flex-direction:column-reverse; */
    /* flex-wrap:wrap; */
    /* flex-wrap:nowrap; */
    /* flex-wrap:wrap-reverse; */
    flex-flow:row wrap;
    list-style:none;
    /* justify-content:space-evenly; */
    /* justify-content:space-between; */
    /* justify-content:space-around; */
    /* justify-content:flex-end; */
    justify-content:center;
}

.img{
    margin:10px;
    /* border:2px solid black; */
    padding:5px;
    box-shadow:4px 4px 7px rgb(46, 19, 19);
    height:250px;
    width:250px;
}

.gallery{
    display:flex;
    flex-flow:row wrap;
    /* justify-content:center; */
    /* justify-content:end; */
    /* justify-content:first baseline; */
    /* justify-content:space-around; */
    /* justify-content:space-between; */
    /* justify-content:space-evenly; */

}