h1:hover{
    color:hotpink;
    background-color:gray;
}
.para2:hover{
    border:2px solid red;
    padding:10px;
    background:linear-gradient(black,green);
    color:white;
    padding:40px;
    margin:50px;

}

.para1:active{
    color:red;
    font-size:40px;
    cursor:pointer;
}

a:visited{
    color:green;
}
input:focus{
    background-color:green;
    color:white;
    border:8px solid yellowgreen;
}

/*  pseudo element selector */
h1::first-letter{
    color:aquamarine;
    font-size:40px;
}

p::first-line{
    color:rgb(160, 21, 123);
}

p::selection{
    color:yellowgreen;
    
}

/* pseudo class element other type */
ul{
    width:200px;
    padding:10px;
    list-style-type:none;
    font-weight:900;
}
li{
    padding:10px;
    border:3px solid gray;
    margin-bottom:6px;
    border-radius:10px;
}

li:nth-child(odd){
    background-color:green;

}

li:nth-child(even){
    background-color:rgb(0, 73, 128);

}

li:first-child{
    background-color:cadetblue;
}

li:last-child{
    background-color: blueviolet;
}

li:nth-child(5){
    background-color:chartreuse;
}

li:nth-of-type(2n){
    background-color:black;
}