/* h3{
    color:blueviolet;
    background-color:aqua;
    font-size: 50px;
}
p{
    color:white;
    background-color: rgb(74, 115, 122);
    font-size: 50px;
} */

tbody,tfoot{
    color:green;
    background-color:white;
}

caption{
    color:darkslategray;
}

.t_transform_uppercase{
    text-transform:uppercase;
}
.t_transform_lowercase{
    text-transform:lowercase;
}
.t_transform_capitalize{
    text-transform:capitalize;
}
.paragraph{
    text-transform: uppercase;
}
.t_center{
    text-align:center;
}
.t_right{
    text-align:right;
}

.t_decor_over{
    text-decoration:overline;
}
.t_decor_line{
    text-decoration: line-through;
}
.t_decor_under{
    text-decoration: red underline;
}
.t_decor_three{
    text-decoration: line-through underline overline;
}

.t_indent{
    text-indent: 120px;
}
.t_line_height{
    line-height:30px;
}

.t_letter_spacing{
    letter-spacing:20px;
}
.t_word_spacing{
    word-spacing: 40px;

}

.t_shadow{
    color:rgb(157, 154, 60);
    text-shadow:7px 5px 7px rgb(215, 148, 24);
    font-size: 50px;
    text-align:center;
    
    
}
.t_shadow1{
    color:black;
    text-shadow:4px 5px 7px gray;
    font-size:50px;
    text-align:center;
    
}
.t_shadow2{
    color:rgb(86, 16, 216);
    text-shadow: 6px 7px 8px rgb(155, 109, 198);
    font-size:50px;
    text-align:right;
}

.t_shadow3{
    color:rgb(29, 125, 162);
    text-shadow:5px 7px 5px rgb(3, 34, 38);
    font-size:50px;
}