.head{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
}
.f_family1{
    font-family:monospace;
}
.f_family2{
    font-family:'Times New Roman', Times, serif;
}
.f_family3{
    font-family:sans-serif;
}


/*  if i want write all the things in one line so i can use font  */
.f_family4{
    font: italic bold 20px Times new roman;
}



/* id slector 
 id > class  */

.heading1{
    color:blueviolet;
    font-family:'Times New Roman', Times, serif;
    font-size:10px;
}

#heading{
    color:brown;
    font-family:verdana;
}