/* solid,dashed double dotted inset outset groove ridge */
/* border shorthand--> width|style|color */
.b_img_sample1{
    width: 400px;
    border: 7px solid red;
    border-radius: 20px;
}

.b_img_sample2{
    width: 400px;
    border: 8px dotted red;
}
.b_img_sample3{
    width: 400px;
    border: 8px double  red;
}
.b_img_sample4{
    width: 400px;
    border: 8px inset  red;
}
.b_img_sample5{
    width: 400px;
    border: 8px outset  red;
}
.b_img_sample6{
    width: 400px;
    border: 20px groove  red;
}
.b_img_sample7{
    width: 400px;
    border: 20px ridge  red;
}
.b_img2{
    width:400px;
    border:8px solid ;
    /* border-top-color:red;
    border-right-color:blue;
    border-bottom-color:orange;
    border-left-color:yellow; */

    /* or we have set a border,width,color for a single side so we can use below syntax */
    /* border-left:10px double blue; */

    border-color : blueviolet yellow green red;
    
}
.b_img3{
    width:400px;
    border:9px double red;
    /* border-radius:20px; */
    border-top-left-radius:100px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 40px;
    /* border-radius:50px 70px 50px 70px; */

}



.simple{
    border:5px solid red;
}

.box_model1{
    border:5px solid red;
    padding: 40px;
    margin: 50px;
}

.box_model2{
     border:5px solid red;
    /*padding-top: 30px;
    padding-right: 160px;
    padding-bottom: 60px;
    padding-left: 70px; */

    padding:30px 40px 30px 40px;
    /* top-->right-->bottom-->left */
    margin:20px 30px 20px 30px;
    
}

/* position */
.box{
    width:200px;
    height:100px;
    background-color: gainsboro;
    border:4px solid red;
    margin-bottom:10px;
}
.box1{
    position:static;
    
}

.box2{
    position:relative;
    top:40px;
    left:150px;
}

.box3{
    position:absolute;
    top:40px;
    left:150px;
}
.box4{
    position:fixed;
    bottom:0px;
    right:10px;
}
.box5{
    position:sticky;
    top:10px;
    
}

/*  example of rel and abs */

.rel{
    position:relative;
    height:400px;
    width:400px;
    background-color:darkcyan;
    left:100px;
    
}
#tv{
    position:absolute;
    height:50px;
    width:150px;
    background-color:blueviolet;
    left:125px;

}
#sofa{
    position:absolute;
    height:70px;
    width:200px;
    background-color: brown;
    left:180px;
    top:200px;
}
#fridge{
    position:absolute;
    height:200px;
    width:100px;
    background-color:cadetblue;
    left:20px;
    top:180px;
}
/* body{
    background-image: url("/images/astronomy-1867616_1280.jpg");
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    background-size:cover;
} */
.heading{
    color:white;
    font-size:50px;
    text-align:center;
}
.t_para{
    color:yellow;
    padding:30px;
    background-color:rgb(150, 130, 51);
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    margin:10px;
}

.linear{
    height:400px;
    /* background:linear-gradient(to left,red,green,yellow,blue); */
    /* background:linear-gradient(to top,red,green,yellow,blue); */
    background:linear-gradient(orange,white,green);
}
h1{
    color:black;
    text-align:center;
}
.radial{
    height:600px;
    /* background:radial-gradient(circle,black ,red,white); */
    /* background:radial-gradient(circle at left top,black ,red,white,blue); */
     /* background:radial-gradient(ellipse at center,black ,red,white,blue); */
    /* background:radial-gradient(circle,blue,skyblue,green); */
     background:radial-gradient(ellipse at center ,white,blue,skyblue,green);

}

.conic{
    height:600px;
    /* background:conic-gradient(from 90deg, red,yellow,green,blue,white,brown ); */
    background:conic-gradient(from 120deg, red,yellow,green,blue,white,brown );
}