.text_container{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;
    letter-spacing:4px;
    font-size:80px;
    font-weight:800;
    perspective:50px;
}
.text_container>b{
    height:100px;
    box-shadow:0px 30px 15px gray;
    background:linear-gradient(to right , red,orange,blue,black);
    background-clip:text;
    color:transparent;
    transform-origin:bottom;
    transform:rotateX(-85deg);
    animation:getUp 10s infinite;
}

.text-container>b:nth-child(1){
    animation-delay:0s;
}
.text-container>b:nth-child(2){
    animation-delay:0.25s;
}
.text-container>b:nth-child(3){
    animation-delay:0.50s;
}
.text-container>b:nth-child(4){
    animation-delay:0.75s;
}
.text-container>b:nth-child(5){
    animation-delay:1s;
}
.text-container>b:nth-child(6){
    animation-delay:1.25s;
}
.text-container>b:nth-child(7){
    animation-delay:1.50s;
}
.text-container>b:nth-child(8){
    animation-delay:1.75s;
}
@keyframes getUp{
    from{transform:rotatX(-deg);}
    10%,50%{transform:rotateX(0);}
    60%,to{transform:rotatX(-85deg);}
}


/* .name{
    display:flex;
    justify-content:center;
    align-items:center;
    letter-spacing:5px;
    font-size:80px;
    
}

.name>b{
    height:90px;
    width:70px;
    box-shadow:4px 4px 7px rgb(51, 43, 19);
    background:linear-gradient(to right,blue,red,pink,orange);
    background-clip:text;
    color:transparent;
    transform-origin:center;
    transform:rotateX(-85deg);
    animation:animateword 10s infinite;
}

.name>b:nth-child(1){
    animation-delay:0.25s;
}
.name>b:nth-child(2){
    animation-delay:0.50s;
}
.name>b:nth-child(3){
    animation-delay:0.75s;
}
.name>b:nth-child(4){
    animation-delay:1s;
}

@keyframes animatedword{
    from{transform:rotatX(-85deg);}
    10%,50%{transform:rotateX(0);}
    60%,to{transform:rotatX(-85deg);}

} */