.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    /* margin-left:30px; */
    gap:30px;
    padding-top:50px;
}
.box{
    background-color:darkorange;
    border-radius:10px;
    height:150px;
    width:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
    transition:transform 3s ease-in 500ms;
}
.box10{
    height:50px;
    width:170px;
    border-radius:12px;
}

/* display:flex;
    justify-content:center;
    align-items:center; */

.box1:hover{
    transform:translate(125px,125px);
}    

.box2:hover{
     transform:translateX(-80px);
}
.box3:hover{
     transform:translateY(80px);
}

.box4:hover{
    transform:rotate(360deg);
    
}
.box5:hover{
    transform:skewX(10deg);
}
.box6:hover{
    transform:skewY(10deg);
}
.box7:hover{
    transform:skew(10deg,20deg);
}
.box8:hover{
    transform:scale(1.3);
}
.box9:hover{
    transform:scale(1.3) ;
}
.box10:hover{
    transform:scale(1.2);
    background-color:red;
    color:white;
    transform:rotate(45deg);
}